@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background: #495057;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#burs{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.container{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 1200px;
    height: 650px;
    padding: 5px;
    position: relative;
    z-index: 99;
}
.left-container{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: 100%;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
}
.left{
    float: left;
    width: 100%;
    height: 70%;
    border-radius: 24px;
}
.right{
    background-color: #ffffffb5;
    backdrop-filter: blur(10px);
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    position: relative;
    left: 10%;
}
.left-button{
    display: flex;
    width: 100%;
    height: 12%;
    border-radius: 24px;
    justify-content: center;
    flex-direction: row;
}
textarea{  
    overflow:hidden;
    margin:50px auto;
    display:block;
}
.text-input{
    background-color: transparent;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    width: 90%;
    max-height: 90%;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    color: #0a0b0d;
    resize: none;
}
#txtresultado{
    margin: auto;
    width: 90%;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: #0A3871;
}
#imgderecha{
    margin-left: 10%;
    margin-top: 20%;
    width: 250px;
    height: 250px;
}
#texto1{
    font-family:"inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}
#texto2{
    width: 270px;
    height: auto;
    background: transparent;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    border: none;
    resize: none;

}
#btn-encriptar{
    width: 40%;
    height: 70%;
    border-radius: 24px;
    margin-left: 5%;
    background: #0A3871;
}

#btn-desencriptar{
    width: 40%;
    height: 70%;
    border-radius: 24px;
    margin-left: 15%;
    background: #d8dee8;  
}
#copy{
    margin-left: 11%;
    width: 82%;
    height: 7%;
    background: transparent;
    border: 1px solid #0A3871;
    border-radius: 24px;
    display: none;
}
.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 5%;
    font-size: 10px;
}

#btn-encriptar:hover, #btn-desencriptar:hover, #copy:hover{
    border-color: orange;
    transform: scale(1.1)
}

@media screen and (max-width:480px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 940px;
    }
    .left-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20%;
        height: 500px;
    }
    .left-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;
    }
    .text-input{
        float: left;
        margin-left: 1%;
        margin-top: 10%;
        width: 90%;
        height: auto;
    }
    .frame1{
        font-size: 12px;
    }
    #btn-encriptar {
        width: 90%;
        height: 70%;
        border-radius: 24px;
        margin-left: 5%;
        background: #0A3871;
    }
    #btn-desencriptar {
        width: 90%;
        height: 70%;
        border-radius: 24px;
        margin-left: 5%;
        background: #d8dee8;
    }
    #imgderecha{
        display: none;
    }
    
    .right {
        
        float: right;
        width: 90%;
        height: auto;
        border-radius: 24px;
        position: absolute;
        left: 5%;
        top: 707px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #texto1{
        width: 253px;
    }
    #texto2{
        
        width: 270px;
        height: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        border: none;
    }
}
@media screen and (min-width:480px) and (max-width:940px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 940px;
    }
    .left-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20%;
        height: 500px;
    }
    #logoimg{
        position: absolute;
        width: 31.09px;
        height: 50.58px;
        left: 40px;
        top: 73.42px;
    }
    .text-input{
        float: left;
        margin-left: 1%;
        margin-top: 10%;
        width: 90%;
        height: auto;
        position: absolute;
        left: 40px;
        top: 200px;
    }
    .frame1{
        font-size: 12px;
        position: absolute;
        width: 229px;
        height: 18px;
        left: 40px;
        top: 836px;
    }
    .left-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 90%;
        height: 80px;
        left: 40px;
        top: 870px;
    }
    #btn-encriptar {
        width: 90%;
        height: 70%;
        border-radius: 24px;
        margin-left: 5%;
        background: #0A3871;
    }
    #btn-desencriptar {
        width: 90%;
        height: 70%;
        border-radius: 24px;
        margin-left: 5%;
        background: #d8dee8;
    }
    #imgderecha{
        display: none;
    }
    .right {
        
        float: right;
        width: 90%;
        height: auto;
        border-radius: 24px;
        position: absolute;
        left: 7%;
        top: 1001px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #texto1{
        width: 375px;
        font-size: 24px;
    }
    #texto2{
        width: 416px;
        font-size: 16px;
    } 
    #copy {
        margin-left: 0%;
        padding: 24px;
        width: 39%;
        height: 63%;
        border-radius: 24px;
        display: none;
        padding-left: 17%;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .right{
        
        float: right;
        width: calc(100%/4);
        height: auto;
        border-radius: 24px;
        position: relative;
        left: 10%;
    }
    #texto1{
        width: 90%;
        font-family:"inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }
    #texto2{
        width: 90%;
        height: auto;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        border: none;
    }
}
@media screen and (min-width:1200px){
    .right{
        float: right;
        width: calc(100%/4);
        height: auto;
        border-radius: 24px;
        position: relative;
        left: 10%;
    }
    #texto1{
        width: 90%;
        font-family:"inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }
    #texto2{
        width: 90%;
        height: auto;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        border: none;
    }
    .left-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 50%;
        height: 80px;
        left: 30px;
        top: 600px;
    }
}
/*burbujas"*/
/*@media screen and (min-width: 600px){*/
    .burbujas{
        border-radius: 50%;
        background: #d8dee8;
        opacity: .3;

        position: absolute;
        bottom: 0;
        animation: burbujas 3s linear infinite;
    }
    .burbujas:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 3s;
        animation-delay: 3s;
    }
    .burbujas:nth-child(2){
        width: 100px;
        height: 100px;
        left: 35%;
        animation-duration: 3s;
        animation-delay: 5s;
    }
    .burbujas:nth-child(3){
        width: 20px;
        height: 20px;
        left: 15%;
        animation-duration: 1.5s;
        animation-delay: 7s;
    }
    .burbujas:nth-child(4){
        width: 50px;
        height: 50px;
        left: 90%;
        animation-duration: 6s;
        animation-delay: 3s;
    }
    .burbujas:nth-child(5){
        width: 70px;
        height: 70px;
        left: 65%;
        animation-duration: 3s;
        animation-delay: 1s;
    }
    .burbujas:nth-child(6){
        width: 20px;
        height: 20px;
        left: 50%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    .burbujas:nth-child(7){
        width: 20px;
        height: 20px;
        left: 50%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    .burbujas:nth-child(8){
        width: 100px;
        height: 100px;
        left: 52%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbujas:nth-child(9){
        width: 65px;
        height: 65px;
        left: 51%;
        animation-duration: 3s;
        animation-delay: 2s;
    }
    .burbujas:nth-child(10){
        width: 40px;
        height: 40px;
        left: 35%;
        animation-duration: 3s;
        animation-delay: 4s;
    }
    .burbujas:nth-child(11){
        width: 20px;
        height: 20px;
        left: 15%;
        animation-duration: 1.5s;
        animation-delay: 7s;
    }
    .burbujas:nth-child(12){
        width: 50px;
        height: 50px;
        left: 10%;
        animation-duration: 6s;
        animation-delay: 3s;
    }
    .burbujas:nth-child(13){
        width: 70px;
        height: 70px;
        left: 3%;
        animation-duration: 3s;
        animation-delay: 1s;
    }
    .burbujas:nth-child(14){
        width: 20px;
        height: 20px;
        left: 1%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    .burbujas:nth-child(15){
        width: 20px;
        height: 20px;
        left: 50%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    #logoimg{
        animation: movimiento 2.5s linear infinite;
    }
    @keyframes burbujas{
        0%{
            bottom: 0;
            opacity: 0;
        }
        30%{
            transform: translateX(30px);
        }
        50%{
            opacity: .4;
        }
        100%{
            bottom: 100vh;
            opacity: 0;
        }
    }
    @keyframes movimiento{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0);
        }
    }
/*}*/
